:root{
  --azul-primaria: #3772FF;
  --verde-secundaria: #36D6AD;
  --coral-terciaria: #FC7071;
  --coral-hover: #FF9D9E;
  --creme-terciaria: #FCF0E3;
  --cinza-escuro: #737380;
  --cinza-medio: #BCBCBC;
  --cinza-claro: #F6F6F6;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--azul-primaria);
  background-image: url("./assets/Forma\ 1.svg"), url("./assets/Forma\ 2.svg"), url("./assets/Ilustração\ 1.svg");
  background-repeat: no-repeat;
  background-position: top left, center right, bottom 4rem center;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 10vh;
  margin-bottom: 3rem;
}

.icons {
  padding: 0 2.2rem;
  width: 5%;
}

main {
  height: 75vh;
}

.welcome__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
}

.title__logo {
  margin: 1rem 0 2rem 0;
}

.title__secondary {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 1rem 0 2rem 0;
  font-weight: 500;
  font-size: 26px;
  color: #FFFFFF;
}

.welcome__text {
  width: 70vw;
  text-align: center;
  padding: .5rem;
  margin-bottom: .5rem;
  color: #FFFFFF;
}

.main__button {
  width: 11.25rem;
  height: 5%;
  text-align: center;
  background-color: var(--coral-terciaria);
  border-radius: 6px;
  font-weight: 600;
  color: #FFFFFF;
  margin: 1rem;
  padding-top: 1rem;
  box-shadow: 3px 3px 10px #000000;
  text-decoration: none;
}

footer {
  height: 10vh;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--verde-secundaria);
}

footer p {
  font-weight: 400;
  font-size: 12px;
}