main {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
}

.contact__text {
  height: 7.5rem;
}

.text {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--azul);
  font-family: var(--fonte-principal);

  position: absolute;
  width: 226px;
  height: 60px;
  left: 67px;
  top: 168px;
}

.form__contact {
  position: absolute;
  width: 19.5rem;
  height: 39.75rem;
  left: 1.5rem;
  top: 15.75rem;

  background-color: var(--cinza-claro);
}

.label__contact {
  display: flex;
  align-items: flex-start;

  font-family: var(--fonte-principal);
  color: var(--azul);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;

  margin: .5rem 1rem .5rem;
}

.input__contact,
.message__contact {
  display: flex;
  align-items: flex-start;
  margin: .5rem 1rem .5rem;
}

.input__contact::placeholder,
.message__contact::placeholder {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding-left: .5rem;
  color: var(--cinza-medio);
}

.input__contact {
  width: 17.5rem;
  height: 3rem;
  left: 3rem;
  top: 19.75rem;

  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.message__contact {
  width: 17.5rem;
  height: 10.75rem;
  left: 2.5rem;
  top: 38.25rem;

  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

.submit__button {
  width: 9.25rem;
  height: 2.5rem;

  border: none;
  border-radius: 0.375rem;
  background-color: var(--coral);
  color: var(--branco);

  font-family: var(--fonte-principal);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;

  margin: 3.5rem 0;
}

footer {
  position: absolute;
  width: 360px;
  height: 104px;
  left: 0px;
  top: 904px;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("../svg/forma_1_768px.svg"), url("../svg/forma_2_768px.svg"), url("../svg/ilustração_768px.svg"), url("../svg/Usuário.svg");
    background-repeat: no-repeat;
    background-position: top left, center right, bottom 4rem center, top 1.5rem right 1rem;
  }

  .text {
    position: absolute;
    width: 32.75rem;
    height: 3.25rem;
    left: 7.625rem;
    top: 17.8125rem;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    /* or 144% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Azul */

    color: #3772FF;
  }

  .form__contact {
    position: absolute;
    width: 32.75rem;
    height: 39.25rem;
    left: 7.625rem;
    top: 23.5625rem;
  }

  .input__contact,
  .message__contact {
    width: 492px;
  }

  footer {
    width: 768px;
    height: 104px;
    top: 1096px;
  }
}