body {
  font-family: var(--fonte-principal);
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--azul);
  background-image: url("../svg/Forma\ 1.svg"), url("../svg/Forma\ 2.svg"), url("../svg/Ilustração\ 1.svg");
  background-repeat: no-repeat;
  background-position: top left, center right, bottom 4rem center;
}

main {
  height: 75vh;
}

.welcome__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
}

.title__logo {
  margin: 1rem 0 2rem 0;
}

.title__secondary {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 1rem 0 2rem 0;
  font-weight: 500;
  font-size: 26px;
  color: var(--branco);
}

.welcome__text {
  width: 70vw;
  text-align: center;
  padding: .5rem;
  margin-bottom: .5rem;
  color: var(--branco);
}

.main__button {
  width: 11.25rem;
  height: 5%;
  text-align: center;
  background-color: var(--coral);
  border: none;
  border-radius: 6px;
  font-weight: 600;
  color: var(--branco);
  margin: 1rem;
  padding-top: 1rem;
  box-shadow: 3px 3px 10px #000000;
  text-decoration: none;
}